:root {
    --main-color: rgb(3, 166, 55);
    --second-color: #00ff80;
    --main-font: "Gill Sans", sans-serif;
    --second-font: 'Momo Trust Display', sans-serif;
}

body{
  padding: 0;
  margin: 0;
  height: auto;
}

header{
    width: 100%;
    height: 81px;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    box-shadow: 0 0 15px #ccc;
    align-items: center;
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-sizing: border-box;
}

#cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    font-size: 32px;
    display: flex;
    transition: all 0.3s;
}

#cart:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cart-a{
    margin-left: auto;
    padding-right: 45px;
    text-decoration: none;
}

header hr{
    margin: 5px;
    height: 60%;
}

.logo{
    height: 40px;
    margin: 0 8px;
    transition: all 0.3s;
}

.logo:hover{
    cursor: pointer;
    transform: rotate(15deg) scale(1.1);
}

header ul{
    display: flex;
    
}

.item{
    list-style: none;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.item:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--main-color);
    transform: translateY(-2px);
}

.item:hover .header-li-a{
    color: var(--main-color);
} 

.header-li-a{
    text-decoration: none;
    color: black;
}

/* стили для main */
main{
  padding: 0;
  margin: 0;
  width: 100%;
}

.order-window{
  width: 100vw;
  height: 100vh;
  position: fixed;  
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #0000006d;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.order-window.visible{
  visibility: visible;
  opacity: 1;
}

.main-window{
  padding: 25px;
  border-radius: 8px;
  width: 45%;
  height: auto;
  background-color: white;
}

.close{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: white;
  border: none;
}

.main-cart{
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.params-list li{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.params{
  font-size: 15px;
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  margin-right: 12px;
}

.order-buy{
  width: 80%;
  display: block;
  margin: 10px auto;
  background: transparent;
  border: 2px solid #000;
  padding: 5px 12px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 700;
}

.order-buy:hover{
  background: var(--second-color);
  border: 2px solid var(--second-color);
  color: #000000;
}

.total{
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  font-family: var(--main-font);
}


.left-cart{
  width: 50% ;
  display: flex;
flex-direction: column;
align-items: end;
}

.cart-item{
  width: 65%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  height: 190px;
  border: 1px solid #ccc;
  align-items: center;
  font-family: var(--main-font);
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
}

.img-cart{
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cart img{
  height: 80%;
}

.information{
  width: 30%;
  font-size: 18px;
  margin: 14px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.delete {
  margin-top: 10px;
  background: transparent;
  border: 2px solid #000;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 700;
}

.delete:hover {
  background: var(--second-color);
  border: 2px solid var(--second-color);
  color: #000000;
}

.cart-price{
  width: 30%;
  font-size: 20px;
  height: 100%;
  margin: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.counter {
    max-width: 110px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.counter .btn {
    width: 35px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.counter .minus {
    background: #000000;
    color: #ffffff;
}

.counter .plus {
    background: var(--second-color);
    color: rgb(0, 0, 0);
}

.counter .count {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.right-cart{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.order{
  width: 70%;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 600;
  font-family: var(--main-font);
  border: 1px solid #ccc;
}

.order-list{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px;
}

.order-list li{
  margin-bottom: 5px;
  padding: 0;
}

.order-list li p{
  margin: 0;
  padding: 0;
}

.confirm{
    padding: 6px 11px;
    background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  font-size: 14px;
  transition: all 0.3s;
  width: 80%;
  align-self: center;
  border-radius: 5px;
   font-size: 15px;
  font-weight: 700;
}

.confirm:hover{
  background-color: var(--second-color);
  color: black;
  border: 2px solid var(--second-color);
}