@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
    --main-color: rgb(3, 166, 55);
    --second-color: #00ff80;
    --main-font: "Gill Sans", sans-serif;
    --second-font: 'Momo Trust Display', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* стилі для header */

header{
    width: 100%;
    height: 81px;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    box-shadow: 0 0 15px #ccc;
    align-items: center;
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-sizing: border-box;
}

#cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    font-size: 32px;
    display: flex;
    transition: all 0.3s;
}

#cart:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cart-a{
    margin-left: auto;
    padding-right: 45px;
    text-decoration: none;
}

header hr{
    margin: 5px;
    height: 60%;
}

.logo{
    height: 40px;
    margin: 0 8px;
    transition: all 0.3s;
}

.logo:hover{
    cursor: pointer;
    transform: rotate(15deg) scale(1.1);
}

header ul{
    display: flex;
    
}

.item{
    list-style: none;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.item:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--main-color);
    transform: translateY(-2px);
}

.item:hover .header-li-a{
    color: var(--main-color);
} 

.header-li-a{
    text-decoration: none;
    color: black;
}

/* стилі для мейн */
main{
    width: 100%;
}

.start{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start a{
    text-decoration: none;
}

.start-btn {
    padding: 14px 56px;
    background: #0b0b0b;
    color: var(--second-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    font-family: var(--second-font);
}

.start-btn:hover {
    background: var(--second-color);
    color: #0b0b0b;
    box-shadow: 0 0 20px rgba(0,255,128,0.8);
    transform: scale(1.05);
}

.our_partners{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: #0b0b0b;
}

#partner_p{
    margin-left: 30px;
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
}


.partners_1{
    padding: 15px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #134d21; */
}

.partners_2{
    padding: 15px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1d1d;
}

.partners_3{
    padding: 15px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #2a2a2a;
}

.partner{
    width: 65px;
    height: 38px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.partner:hover img{
    filter: drop-shadow(0 0 13px var(--second-color));
    transform: scale(1.1);
}


.partner img{
    width: 100%; 
    height: 100%;
    object-fit: contain;
    transition: all 0.3s;
}

/* стилі для футера */

footer {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: var(--main-font);
    margin-top: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-color: #ffffff; 
    color: #000000; 
}


#slogan {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 15px 0;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer p {
    margin: 2px;
}

.energy-footer {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-around;
}

.energy-footer hr {
    margin: 0 20px;
    height: 80px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color); 
}

#logo-png {
    height: 45px;
    margin-right: 10px;
    transition: all 0.3s;
}

#logo-png:hover {
    transform: rotate(15deg) scale(1.1);
}


.social-networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-element {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.social-element i {
    font-size: 22px;
    margin-right: 8px;
    color: #000000;
    transition: color 0.3s;
}

.social-element:hover i {
    color: var(--main-color); 
}

.footer-support p {
    margin: 5px 0;
}

.developers {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    transition: color 0.3s;
}

.developers:hover {
    color: #1e7e34; 
}
