.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.top img{
    height: 90%;
}
