body{
  margin: 0;
  padding: 0;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 75px;
    box-shadow: 0 0 15px gray;
    align-items: center;
    padding: 10px;

}


#cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    font-size: 40px;
    display: flex;
    
}

.cart-a{
    margin-left: auto;
    padding-right: 40px;
}

header hr{
    margin: 5px;
    height: 90%;
}

.logo{
    height: 45px;

}

header ul{
    display: flex;
    
}

.item{
    list-style: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}

  
    .carusel-counteiner {
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 150px;
}

.card1{
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card2{
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.carusel-track {
    display: flex;
    width: max-content;
    animation: scroll-left 22s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.card1 img, .card2 img {
    width: 100px;
}

/* стилі для мейн */
main{
    width: 100%;
    height: 100vh;
}

.start{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start a{
    text-decoration: none;
}

.start-btn{
    padding: 30px 80px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Gill Sans", sans-serif;
    color: yellow;
    background-color: blueviolet;
    border: none;
    border-radius: 7px;
    transition: all 0.6s;

}

.start-btn:hover{
    background-color: brown;
    color: black;
    transform: scale(1.05);
}

.start-btn:active{
    transform: scale(0.90);
}