body{
    margin: 0;
    padding: 0;
}

/* Стилі для хедера */

header{
    width: 100%;
    height: 65px;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 75px;
    box-shadow: 0 0 15px #ccc;
    align-items: center;
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

#cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    font-size: 32px;
    display: flex;
    transition: all 0.3s;
}

#cart:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cart-a{
    margin-left: auto;
    padding-right: 45px;
    text-decoration: none;
}

header hr{
    margin: 5px;
    height: 60%;
}

.logo{
    height: 40px;
    margin: 0 8px;
    transition: all 0.3s;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

header ul{
    display: flex;
    
}

.item{
    list-style: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.item:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
    transform: translateY(-2px);
}

.header-li-a{
    text-decoration: none;
    color: black;
}

/* Стилі для основної частини */

main{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.show-add-btn{
    width: 200px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px 0px;
    align-self: flex-end;
    margin-bottom: 20px;
    transition: all 0.3s ;
}

.products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.filtrs{
    height: 100%;
    width: 20%;
    border-right: 1px solid #ccc;
}

.card{
    width: 240px;
    height: 350px;
    border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */ 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid #ccc;
}

.card:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    /* transform: scale(1.05); */
    transition: all 0.3s;

}
.top{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc; 
}

.top img{
    height: 90%;
}

.bottom{
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    padding: 12px;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-between;
}

.bottom p{
    padding: 0px;
    margin: 0;
    margin-bottom: 4px;
}


.price{
    font-weight: 900;
}

.buy-btn{
    width: 25%;
    background-color: rgb(5, 183, 5);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 0px;
    align-self: flex-end;
    transition: all 0.3s ;
}

.buy-btn.clicked{
    background-color: rgb(208, 248, 208);
    color: rgb(5, 183, 5);
    pointer-events: none;
}

.buy-btn:hover{
    cursor: pointer;
    background-color: rgb(236, 141, 0);
    transition: all 0.3s ;
}


.ajs-message.ajs-success.ajs-visible{
    background: #25e68c;
    background: linear-gradient(90deg, rgba(37, 230, 140, 1) 31%, rgba(93, 232, 209, 1) 97%);
    font-size: 16px;
    font-weight: 600;
    font-family:  "Gill Sans", sans-serif;
    text-shadow: none;
    border-radius: 3px;
}

.ajs-message.ajs-error.ajs-visible{
    background: #e62525;
    background: linear-gradient(90deg, rgb(230, 37, 37) 31%, rgb(232, 93, 93) 97%);
    font-size: 16px;
    font-weight: 600;
    font-family:  "Gill Sans", sans-serif;
    text-shadow: none;
    border-radius: 3px;
}

/* Стилі для футера */

footer{
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: "Gill Sans", sans-serif;
    margin-top: 50px;
    box-shadow: 0 0 15px #ccc;
}

#slogan{
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}

footer p{
    margin: 2px;
}

.energy-footer{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
}

.energy-footer hr{
    margin: 25px;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

#logo-png{
    height: 40px;
}

.social-networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-element{
    display: flex;
    align-items: center;
}

/* .social-element p{
    margin: 5px;
} */

.developers{
    text-decoration: none;
    color: blue;
}