:root {
    --main-color: rgb(0, 199, 63);
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Стилі для хедера */

header{
    width: 100%;
    height: 81px;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    box-shadow: 0 0 15px #ccc;
    align-items: center;
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-sizing: border-box;
}

#cart{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    font-size: 32px;
    display: flex;
    transition: all 0.3s;
}

#cart:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cart-a{
    margin-left: auto;
    padding-right: 45px;
    text-decoration: none;
}

header hr{
    margin: 5px;
    height: 60%;
}

.logo{
    height: 40px;
    margin: 0 8px;
    transition: all 0.3s;
}

.logo:hover{
    cursor: pointer;
    transform: rotate(15deg) scale(1.1);
}

header ul{
    display: flex;
    
}

.item{
    list-style: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.item:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--main-color);
    transform: translateY(-2px);
}

.item:hover .header-li-a{
    color: var(--main-color);
} 

.header-li-a{
    text-decoration: none;
    color: black;
}

/* Стилі для основної частини */

main{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
}

.add-form{
    width: 300px;
    position: absolute;
    right: 20px;
    top: 190px;
    z-index: 2;
    height: auto;
    border-radius: 5px;
    background-color: #ffffff; 
    color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.add-form.visible{
    visibility: visible;
    opacity: 1;
}

.add-form input{
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-family: "Gill Sans", sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.add{
    width: 90%;
    background-color: var(--main-color);
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: white;  
    padding: 8px;
    border-radius: 5px;  
    box-sizing: border-box
}


.show-add-btn{
    width: 200px;
    background-color:var(--main-color);
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 10px 0px;
    align-self: flex-end;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(84, 249, 79, 0.8);
    transition: all 0.3s ;
}

.show-add-btn:hover {
    transform: translateY(-3px) scale(1.05); 
    box-shadow: 0 10px 20px rgba(84, 249, 79, 0.8); 
}

.products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}


.card{
    width: 225px;
    height: 350px;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 30px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */ 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid #ccc;
}

.card:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    /* transform: scale(1.05); */
    transition: all 0.3s;

}
.top{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc; 
}

.top img{
    height: 90%;
}

.bottom{
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    padding: 12px;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-between;
}

.bottom p{
    padding: 0px;
    margin: 0;
    margin-bottom: 4px;
}


.price{
    font-weight: 900;
}

.buy-btn{
    width: 25%;
    background-color:var(--main-color);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 0px;
    align-self: flex-end;
    transition: all 0.3s ;
}

.buy-btn.clicked{
    background-color: rgb(208, 248, 208);
    color: var(--main-color);
    pointer-events: none;
}

.buy-btn:hover{
    cursor: pointer;
    background-color: rgb(236, 141, 0);
    transition: all 0.3s ;
}


.ajs-message.ajs-success.ajs-visible{
    background: #25e68c;
    background: linear-gradient(90deg, rgba(37, 230, 140, 1) 31%, rgba(93, 232, 209, 1) 97%);
    font-size: 16px;
    font-weight: 600;
    font-family:  "Gill Sans", sans-serif;
    text-shadow: none;
    border-radius: 3px;
}

.ajs-message.ajs-error.ajs-visible{
    background: #e62525;
    background: linear-gradient(90deg, rgb(230, 37, 37) 31%, rgb(232, 93, 93) 97%);
    font-size: 16px;
    font-weight: 600;
    font-family:  "Gill Sans", sans-serif;
    text-shadow: none;
    border-radius: 3px;
}

/* Стилі для футера */
footer {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: "Gill Sans", sans-serif;
    margin-top: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-color: #ffffff; 
    color: #000000; 
}


#slogan {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 15px 0;
    color: var(--main-color);
    text-transform: uppercase;
}

footer p {
    margin: 2px;
}

.energy-footer {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
}

.energy-footer hr {
    margin: 0 20px;
    height: 80px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color); 
}

#logo-png {
    height: 45px;
    margin-right: 10px;
    transition: all 0.3s;
}

#logo-png:hover {
    transform: rotate(15deg) scale(1.1);
}


.social-networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-element {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.social-element i {
    font-size: 22px;
    margin-right: 8px;
    color: #000000;
    transition: color 0.3s;
}

.social-element:hover i {
    color: var(--main-color); 
}

.footer-support p {
    margin: 5px 0;
}

.developers {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    transition: color 0.3s;
}

.developers:hover {
    color: #1e7e34; 
}
